@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Gabarito:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Pacifico", cursive;
  font-weight: 200;
  font-size: larger;
  background-color: #3A86FF;
  color: white;
}